<html>
  <head><title>UI</title><head>
<body>
  <script>
    (function() {
      window.prime = function () {

        var method    = window.document.querySelector('#method').value.toUpperCase();
        var path      = window.document.querySelector('#path').value;
        var response  = window.document.querySelector('#response').value;
        var link   = window.document.querySelector('#link');
        var message   = window.document.querySelector('#message');
        message.innerText = "";

        var request = new XMLHttpRequest();
        request.open("POST", "/syncMock", true);

        request.setRequestHeader("Content-type", "application/json");

        try {
          var payload = {
            path: path,
            method: method,
            response: JSON.parse(response)
          };
        } catch(e) {
          alert('Response is not a valid JSON');
        }

        request.onreadystatechange = function () {
          if (request.readyState === 4 && request.status === 200) {
            message.innerText = "=================================> SUCCESS!!";
          } else {
            message.innerText = "SOMETHING WENT WRONG! <=================================";
            link.innerHTML = '<a href="/'+ path +'" target="blank" />'+ path +'</a>';
          }
        };
        request.send(JSON.stringify(payload));

      };
    })();
  </script>
  <div id="message" style="font-size: 24px; color: green;"></div>

  Method:<br /><input type="text" id="method" value="get" /><br /><br />
  Path:<br /><input type="text" id="path" value="path-here" /><br /><br />
  Response:<br /><textarea id="response" style="margin: 0px; padding: 0; width: 645px; height: 792px;">{
    "example": true
  }</textarea><br />
  <button id="prime" onClick="prime();">Prime</button><br />
  <div id="link" style="font-size: 24px; color: blue;"></div>
</body>
</html>
